{% extends 'home/basic.html' %}

{% block main %}
    <h1>Это ваш портфель!</h1>
    <a href="{% url 'create_portfolio' %}">Создать новый портфель</a>
    <a href="{% url 'add' %}">Нажмите, чтобы добавить активы.</a>
    <select onchange="location = this.value;">
    <option value="/portfolio/?portfolio_id=all"
        {% if selected == 'all' %}selected{% endif %}>
        Все портфели
    </option>

    {% for p in portfolios %}
        <option value="/portfolio/?portfolio_id={{ p.id }}"
            {% if selected == p.id|stringformat:"s" %}selected{% endif %}>
            {{ p.name }}
        </option>
    {% endfor %}
    </select>
    <h2>Общая прибыль: {{ total_profit }} рублей</h2>
    {% for asset in assets %}
        <h3>{{ asset.asset__name }}</h3>
        <p>Количество: {{ asset.total_count }}</p>
        <p>Средняя цена покупки: {{ asset.avg_price }} рублей</p>
        <p>Общая цена покупки: {{ asset.total_value }} рублей</p>
        <p>Общая стоимость: {{ asset.total_price }} рублей</p>
        <p>Прибыль: {{ asset.profit }} рублей</p>
    {% endfor %}
{% endblock %}

{% block title %}Портфель{% endblock %}