<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Здесь вы можете добавить новые сделки</h1>
    <a href="?all=1">Показать все активы</a>
    <a href="?">Показать только популярные</a>
    <form method="post" action="?{% if show_all %}all=1{% endif %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Добавить сделку</button>
    </form>
</body>
</html>