{% extends 'home/basic.html' %}

{% block main %}
    <h1>История выших сделок</h1>
    <a href="{% url 'add' %}">Нажмите, чтобы добавить активы.</a>
    <select onchange="location = this.value">
        <option value="/deals/?portfolio_id=all"
        {% if selected == 'all' %}selected{% endif %}>
        Все портфели
        </option>
        {% for p in portfolios %}
        <option value="/deals/?portfolio_id={{ p.id }}"
            {% if selected == p.id|stringformat:"s" %}selected{% endif %}>
            {{ p.name }}
        </option>
    {% endfor %}
    </select>
    {% for deal in deals %}
        <h3>{{ deal.type }}</h3>
        <p>{{ deal.type }}</p>
        <p>{{ deal.asset.name }}</p>
        <p>{{ deal.value }}</p>
        <p>{{ deal.price_per_unit }}</p><br>
        <a href="{% url 'edit' deal.id %}">
            Изменить
        </a>
        <a href="{% url 'delete' deal.id %}">
            Удалить
        </a>
    {% endfor %}
{% endblock %}

{% block title %}История{% endblock %}