
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home - Investment Portfolio Tracker</title>
    {% load static %}
    <link rel="stylesheet" href=" {% static 'home/css/home.css' %}">
</head>
<body>
    <nav class="navigation">
        <a href="/">Главная</a>
        <a href="/portfolio/">Портфель</a>
        <a href="/deals/">История сделок</a>
    </nav>

    <div class="home">
        <div class="header">
            <h1>Добро пожаловать в C&D Invest</h1>
            <p>Отслеживайте свои инвестиции в одном месте</p>
        </div>
        <div class="info">
            <div class="card">
                <h3><a href="{% url 'portfolio' %}" style="text-decoration: none; color: inherit;">
                        Ваш портфель
                    </a>
                </h3>
                <p>Общая стоимость: $0.00</p>
                <p>Количество активов: 0</p>
            </div>

            <div class="card">
                <h3>Последние изменения</h3>
                <p>Нет активных транзакций</p>
            </div>

            <div class="card">
                <h3>Рыночные новости</h3>
                <p>Загрузка новостей...</p>
            </div>
        </div>
    </div>
</body>
</html>